# Site settings
course_name: Data-Driven Modeling
course_description: "
How do we go from a high dimensional, noisy, nonlinear, complex, and multiscale universe to 
simple and predictive mathematical models? This course introduces modern machine learning techniques 
using a wide variety of examples in physical, social and biological sciences. 
Modern data-driven approaches that take advantage of recent advances in machine learning are introduced, 
including: sparse identification of differential equations, dynamics mode decomposition, 
and physics informed neural networks."
course_semester: "Spring 2024"

baseurl: "/ml4science/" # the subpath of your site, e.g. /blog/
url: "http://josephbakarji.github.io/" # the base hostname & protocol for your site

schoolname: "American University of Beirut"
schoolurl: "https://www.aub.edu.lb"
twitter_username: josephbakarji 

address: |
    American University of Beirut
    P.O.Box 11-0236 / Mechanical Engineering
    Riad El-Solh / Beirut 1107 2020

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
