/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}




/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure>img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul,
ol {
    margin-left: $spacing-unit;
}

li {

    >ul,
    >ol {
        margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        /*    color: darken($brand-color, 15%); */
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

/* .post-content a, .home a {
	font-weight: 500;
} */

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
// pre,
// code {
//     font-size: 14px;
//     border: 1px solid $grey-color-light;
//     border-radius: 3px;
//     background-color: #eef;
// }

// code {
//     padding: 1px 5px;
// }

// pre {
//     padding: 8px 12px;
//     overflow-x: scroll;

//     >code {
//         border: 0;
//         padding-right: 0;
//         padding-left: 0;
//     }
// }

pre,
code {
    font-size: 14px;
    border: 1px solid #3f4451;
    border-radius: 3px;
    background-color: #3f3f3f;
    color: #fdce93;
}

code {
    padding: 2px 6px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto; // 'scroll' can be replaced with 'auto' to only show scrollbars when necessary
    color: #abb2bf; // Ensuring preformatted text is also readable

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        // Add specific colors for syntax highlighting if needed
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    >svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}



a.tosu {
    color: #b00000;
    background: #f5f5f5;
    text-decoration: none;
    padding: 2px;
    font-weight: 600;
    font-family: 'Capita', Georgia, serif;
}




.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.responsive-table {

    li {
        // border-radius: 3px;
        padding: 14px 15px;
        display: flex;
        justify-content: space-between;
        // margin-bottom: 15px;
    }

    .raw_li {
        display: list-item !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .table-header {
        color: $brand-color;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #ffffff;
        border-color: whitesmoke;
        border-width: 0.1em;
        border-style: solid;
        border-bottom: none;
    }

    .table-row-assignment {
        background-color: #d9edf7;
    }

    .table-row-due {
        background-color: #FCF8E5;
    }

    .table-row-exam {
        background-color: #f2dede;
    }

    .col-1 {
        padding: 2px;
        flex-basis: 10%;
    }

    .col-1-2 {
        text-align: center;
        padding: 2px 10px;
        flex-basis: 20%;
    }

    .col-2 {
        padding: 2px;
        flex-basis: 20%;
    }

    .col-3 {
        padding: 2px;
        flex-basis: 25%;
    }

    .col-4 {
        padding: 2px;
        padding-left: 20px;
        flex-basis: 50%;

        ul {
            margin-bottom: 0;
        }
    }

    .date-spliter {}

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        .table-row {}

        li {
            display: block;
        }

        .col {

            flex-basis: 100%;

        }

        .col {
            display: block;
            padding: 10px 0;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }

        .col-1 {
            display: block;
            padding: 10px 0;

            &:before {
                content: none;
            }
        }

        .col-4 {
            padding: 0;

            &:before {
                content: none;
            }
        }

        .col-1-2 {
            text-align: left;
        }

        .date-spliter {
            display: none;
        }
    }
}

.no-p-margin {
    p {
        margin-bottom: 0;
    }
}

.profile-pic-gallary {
    padding: 0px;
    display: inline;
}

.image--cover-container {
    width: 90px;
    float: left;
    text-align: center;
    margin: 0px;
    margin-right: 40px;
}

.image--cover {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;

    object-fit: cover;
    object-position: center right;
}

.announcement-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.center-cropped {
    width: 140px;
    height: 80px;
    background-repeat: no-repeat;
    overflow: hidden;
    border: 1px solid $primary-color;
    border-radius: 5%;
    margin-right: 10px;
    background-position: center;
    background-size: contain;
  }
  
  /* Set the image to fill its parent and make transparent */
  .center-cropped img {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;
  }

.lecture-container {
    margin-bottom: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
    &.collapsed {
        .lecture-content {
            max-height: 0;
            padding-top: 0;
            padding-bottom: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }
}

.lecture-header {
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    position: relative;
    
    &:hover {
        background-color: #f8f8f8;
    }
}

.toggle-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    transition: transform 0.3s ease;
}

.lecture-title {
    margin: 0;
    color: $clemson-purple;
    font-size: 1.4em;
    padding-right: 30px;
}

.lecture-subtitle {
    margin: 5px 0 0;
    color: #666;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding-right: 30px;
}

.lecture-content {
    overflow: hidden;
    transition: all 0.3s ease-out;
    padding: 0 20px;
    visibility: visible;
}

.lecture-sections {
    padding: 20px 0;
}

.lecture-section {
    margin-bottom: 20px;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    .section-title {
        font-weight: bold;
        color: #444;
        margin-bottom: 10px;
        font-size: 1.1em;
        border-bottom: 2px solid #eee;
        padding-bottom: 5px;
    }
}

.lecture-links {
    list-style: none;
    margin-left: 15px;
    margin-bottom: 0;
    
    li {
        margin: 8px 0;
        line-height: 1.4;
        
        &:last-child {
            margin-bottom: 0;
        }
        
        a {
            color: $text-color;
            text-decoration: none;
            transition: color 0.2s ease;
            
            &:hover {
                color: $clemson-purple;
                text-decoration: underline;
            }
        }
    }
}

.schedule-lecture-links {
    font-weight: normal;
    font-family: inherit;
}

.markdown-content {
    p,ol {
        margin-bottom: 3px;
    }

    li {
        padding: 0px;
        display: list-item !important;
        border-bottom: 0 !important;
    }
}

// Remove hover transform since we now have expandable cards
.archiveposturl {
    transition: none;
    
    &:hover {
        transform: none;
    }
}