<!DOCTYPE html>
<html>

  {% include head.html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS_CHTML-full,Safe"></script>
  <script type="text/x-mathjax-config">
    init_mathjax = function() {
        if (window.MathJax) {
            MathJax.Hub.Config({
                TeX: {
                    equationNumbers: {
                        autoNumber: "AMS",
                        useLabelIds: true
                    }
                },
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                    processEscapes: true,
                    processEnvironments: true
                },
                displayAlign: 'center',
                CommonHTML: {
                    linebreaks: {
                        automatic: true
                    }
                }
            });
        }
    };
    init_mathjax();
  </script>

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>